{%extends 'base.html'%}

{%block content%}
<div class="pure-g-r content-ribbon">
        <div class="pure-u-1">
            <h2>Informe seus dados</h2>
            <form class="pure-form pure-form-stacked" method="post">
            {%csrf_token%}
                <fieldset>
                    {{form.non_field_errors}}

                    {%for field in form%}

                      <div class="pure-control-group">
                          {{field.label_tag}}
                          {{field}}
                          {{field.errors}}
                      </div>
                    {%endfor%}
                        <button type="submit" class="pure-button pure-button-primary">Cadastre-se</button>
                    </div>
                </fieldset>
            </form>
        </div>
</div>
{%endblock%}