<!doctype html>
{%load static%}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Simple MOOC - Uma simples plataforma de ensino a distância" />
    <title>Simple MOOC</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}" />
</head>
<body>
<div class="content" style = "min-height:calc100vh">
    <div class="header">
        <div class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal">
            <a class="pure-menu-heading" href="/">SIMPLE MOOC</a>
            <ul>
                <li class="pure-menu-selected"><a href="/">Início</a></li>
                <li><a href="/courses">Cursos</a></li>
                <li><a href="/contact">Contato</a></li>
                {%if not user.is_authenticated%}
                <li><a href="/conta/entrar">Entrar</a></li>
                {%else%}
                <li><a href="/conta/sair">Sair</a></li>
                {%endif%}
            </ul>
        </div>
    </div>
    <div class="content" style = "min-height: calc(100vh - 4.65em)">
    {%block content%}{%endblock%}            
    </div>
    <div class="footer">
        Simple MOOC - Uma simples plataforma de ensino a distância
    </div>
</div>
<script src="http://yui.yahooapis.com/3.12.0/build/yui/yui-min.js"></script>
</body>
</html>