{% extends 'base.html' %}

{% block content %}
<div>
<h1>FALE CONOSCO</h1>
<H2>Informações de contato:</h2>
<p>Email: mooc@mooc.com.br</p>
<p>Telefone: 99 9999 9999</p>
<p>Instagram: @mooc</p>
</div>

{% endblock %}